html
{
	font-family: serif;
	font-size: 18px;
	height: 100%;
}

body
{
	margin-left: 10%;
	margin-right: 10%;
	min-height: 80%;
	vertical-align: middle;
}

hr
{
	width: 65%;
	overflow: visible; 
	border: none;
	border-top: medium double #90c17d;
	text-align: center;
}

hr:after
{
	content: '\01D12B';
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
}

footer
{
	position: absolute;
	bottom: 0;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #687a61;
}

li
{
	float: left;
}

li a
{
	display: inline-block;
	color: #dff2d8;
	text-align: center;
	padding: 14px 24px;
	text-decoration: none;
}

#skip a
{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}

#skip a:focus, #skip a:active
{
	position: static;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	overflow: auto;
	z-index: 999;

	color: #15151a;
	background-color: #eea;
	padding: 2px;
	border-radius: 2px;
	border: 2px solid #ffa;
}

@media screen
{
	html
	{
		background-color: #dff2d8;
	}
	body
	{
		color: #687a61;
	}
	a
	{
		color: #6b8661;
	}
	.active
	{
		background-color: #90c17d;
	}
}

/* Local Variables:
	mode: css
	indent-tabs-mode: t 
	tab-width: 4
	End: */
